
<div class="container d-flex align-items-center justify-content-between flex-row section">
    <div class="left">
        <h1 class="heading">
          Discover <span class="highlight">Skillify</span>
        </h1>
        <p class="description">
            Skillify is a platform designed to <span class="highlight">connect learners with expert educators, offering personalized courses and flexible scheduling.</span> Whether you're a student enhancing your skills or a teacher sharing knowledge, Skillify provides a seamless and engaging experience, empowering you to achieve your goals. Unlock your potential with Skillify!
        </p>
    </div>
    <div class="right">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum reprehenderit libero, voluptates pariatur fugit quod beatae id, doloribus exercitationem omnis quisquam laboriosam. Officiis fugit eius sint, eveniet similique voluptatibus beatae.
    </div>
</div>

