
<div class="container align-items-center justify-content-between section">
    <div class="left">
        <img src="assets/about.jpeg" alt="">
    </div>
    <div class="right">
        <h1 class="heading">
            Discover <span class="highlight">Skillify</span>
          </h1>
          <p class="description">
              Skillify is a platform designed to <span class="highlight">connect learners with expert educators, offering personalized courses and flexible scheduling.</span> Whether you're a student enhancing your skills or a teacher sharing knowledge, Skillify provides a seamless and engaging experience, empowering you to achieve your goals. Unlock your potential with Skillify!
          </p>
    </div>
</div>

