<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-column">
          <ul class="nav flex-column">
            <li class="nav-item" style="margin-bottom: 0.5rem;">
              <span class="footer-title">Courses</span>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="./pages/courses/gen.html" >Angular</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="./pages/courses/mean.html" >React</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="./pages/courses/mern.html" >Wordpress</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 footer-column">
          <ul class="nav flex-column">
            <li class="nav-item" style="margin-bottom: 0.5rem;">
              <span class="footer-title">Blogs</span>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="blog.html" >Artificial Intelligence</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="blog.html" >Copilot</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="blog.html" >Deep Learning</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="blog.html" >Generative AI</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="blog.html" >Large Language Model</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 footer-column">
          <ul class="nav flex-column">
            <li class="nav-item" style="margin-bottom: 0.5rem;">
              <span class="footer-title">Contact & Support</span>
            </li>
            <li class="nav-item">
              <span class="nav-link text-white"><i class="fas fa-phone"></i>+91 78798 38693</span>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="help.html" ><i class="fas fa-comments"></i>Help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="contact.html" ><i class="fas fa-envelope"></i>Contact us</a>
            </li>
          </ul>
        </div>
      </div>
  
    </div>
    <h1 class="footer-content pt-3" style="font-size: 1.09rem;">Website Designed & Developed By: &nbsp;
        <span class="footer-name">Harsh Shah Jaiswal</span>
    </h1>
  </footer>
