  <footer
          class="text-center text-lg-start text-light"
          style="background-color: #379269"
          >
    <section
             class="container d-flex justify-content-between p-4 text-white"
             >
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>
      <div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </section>

    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Skillify</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                />
            <p>
              Skillify is a platform designed to connect learners with expert educators, offering personalized courses and flexible scheduling.
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Courses</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                />
            <p>
              <a routerLink="/course" class="text-white">MERN Stack</a>
            </p>
            <p>
              <a routerLink="/course" class="text-white">MEAN Stack</a>
            </p>
            <p>
              <a routerLink="/course" class="text-white">ML - Python</a>
            </p>
            <p>
              <a routerLink="/course" class="text-white">Kotlin</a>
            </p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                />
            <p>
              <a href="#testimonials" class="text-white">Testimonials</a>
            </p>
            <p>
              <a href="#about" class="text-white">About Us</a>
            </p>
            <p>
              <a routerLink="/faq" class="text-white">FAQs</a>
            </p>
            <p>
              <a routerLink="/contact" class="text-white">Contact</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                />
            <p><mat-icon>location_on</mat-icon><span style="vertical-align: top;">Bengaluru, Karnataka</span></p>
            <p><mat-icon>phone</mat-icon> +91 78798 38693</p>
          </div>
        </div>
      </div>
    </section>
    <div class="text-center p-3 fw-bold">
      Website Designed & Developed by Harsh Shah Jaiswal
    </div>
  </footer>