.container{
  letter-spacing: 0.15em;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  font-weight: 600;
}

h6{
  font-size: 15px;
}

p{
  font-size: 14px;
  letter-spacing: 0.1em;
}