<div class="d-flex col justify-content-between flex-wrap">
<div class="course-card" *ngFor="let item of limitedCourses">
    <div class="card-sl">
        <div class="card-image">
            <img
                [src]='item.image' />
        </div>
        <div class="card-heading">
            {{item.title}}
        </div>
        <div class="card-text">
            {{item.description}}
        </div>
        <div class="card-text fw-bold">
            Rs. {{item.price}}
        </div>
        <a href="#" class="card-button"> Purchase</a>
    </div>
</div>
</div>