<div class="d-flex col justify-content-around flex-wrap">
<div class="course-card" *ngFor="let item of displayedData">
    <div class="card-sl">
        <div class="card-image">
            <img
                [src]='item.image' />
        </div>
        <div class="card-heading">
            {{item.title}}
        </div>
        <div class="card-text">
            {{item.description}}
        </div>
        <div class="card-text fw-bold">
            Duration: {{item.duration}} hrs
        </div>
        <a *ngIf="isStudentLoggedIn && !purchasedCourseIds.has(item.id)" class="card-button" (click)="purchaseCourse(item.id)">Enrol Now</a>
        <a *ngIf="isStudentLoggedIn && purchasedCourseIds.has(item.id)" class="card-button-remove" (click)="removeCourse(item.id)">Remove</a>
    </div>
</div>
</div>
<div *ngIf="displayCoursesCount === 0" class="d-flex justify-content-center pagination">
    <button class="btn btn-outline-success custom-btn" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button class="btn btn-outline-success custom-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>