
<div class="container d-flex align-items-center justify-content-between flex-column section">
        <h1 class="heading">
          <span class="highlight">Getting Started</span> With Skillify
        </h1>
        <p class="description text-center">
          Begin your journey to mastering skills with <span class="highlight">Skillify's</span> tailored learning experience.
        </p>
        <div class="custom-buttons d-flex mt-3">
          <button *ngIf="!isLoggedin" class="btn btn-success start-btn mx-3" routerLink="/login">Get Started</button>
          <button *ngIf="((isLoggedin) && (role==='faculty'))" class="btn btn-success start-btn mx-3" routerLink="/faculty-dashboard">View Dashboard</button>
          <button *ngIf="((isLoggedin) && (role==='student'))" class="btn btn-success start-btn mx-3" routerLink="/student-dashboard">View Dashboard</button>
          <button class="btn btn-success course-btn mx-3" routerLink="/course">View Courses</button>
        </div>
  </div>
  
