  
  .contact-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 20px;
  }

  .form{
    padding: 0 !important;
  }
  
  .container-left,
  .container-right {
      width: 48%;
  }
  
  .contact-us {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }
  
  
  .form {
      width: 100%;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  label {
      margin-bottom: 8px;
      font-size: 1rem;
      font-weight: 600;
      color: #4dc591;
  }
  
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
      border-color: #4dc591;
      outline: none;
      box-shadow: 0 0 4px #63e4ac;
  }
  
  input[type="submit"], .address {
      background-color: #4dc591;
      color: white;
      border: none;
      padding: 15px;
      font-size: 1.1rem;
      font-weight: 700;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
  }
  
  input[type="submit"]:hover, .address:hover {
      background-color: #fff;
      /* transform: scale(1.02); */
      color: #4dc591;
      border: 2px solid #4dc591;
  }
  
  @media screen and (max-width: 768px) {
      .contact-container {
          flex-direction: column;
      }
  
      .container-left,
      .container-right {
          width: 100%;
      }
  
      .contact-head h1 {
          font-size: 2rem;
      }
  
      input[type="submit"], .address {
          font-size: 1rem;
      }
  }
  