
<form [formGroup]="signUpForm" (ngSubmit)="signUpSubmit(signUpForm.value)" novalidate>
    <div class="mb-3">
        <label for="exampleFormControlName1" class="form-label">Full Name*</label>
        <input formControlName="name" type="text" class="form-control" placeholder="Enter Your Name" pattern="^[a-zA-Z][a-zA-Z\s]*$">
            <div *ngIf="(signUpForm.controls['name'].invalid) && (signUpForm.controls['name'].touched)" class="text-danger">
                Valid name is required.
            </div>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address*</label>
        <input type="email" formControlName="email" class="form-control"
            placeholder="Enter Your Email">
            <div *ngIf="(signUpForm.controls['email'].invalid) && (signUpForm.controls['email'].touched)" class="text-danger">
                Valid email is required.
            </div>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Password*</label>
        <input type="password" formControlName="password" class="form-control"
            placeholder="Enter Your Password">
            <div *ngIf="(signUpForm.controls['password'].invalid) && (signUpForm.controls['password'].touched)" class="text-danger">
                Valid password is required.
            </div>
    </div>
    <div class="mb-3">
        <a style="text-decoration: none; color: #4dc591;" routerLink="/login">Already have an account? Click here to login</a>
    </div>
    <article>
        <input type="submit" value="Submit" style="margin-right: 10px;" [disabled]="signUpForm.invalid" >
    </article>
</form>