<div class="fixed-top">
    <app-navbar/>
</div>

<main>
    <article class="form d-flex flex-row signUp-container">
    <section class="container-left" style="margin: 3rem 1rem 3rem 3rem;">
        <header class="container d-flex align-items-center justify-content-between flex-column section">
            <h1 class="heading">
              Login & Start <span class="highlight">Learning</span>
            </h1>
        </header>
        <app-login-form/>
    </section>
    <section class="container-right">
        <img src="assets/signup.jpeg" alt="Error">
    </section>
    </article>
</main>

<app-footer/>