<div class="container d-flex align-items-start justify-content-between flex-column section">
    <h1 class="heading">
        <span class="highlight text-uppercase">Overview</span>
    </h1>
    <div class="d-flex col justify-content-start flex-wrap">

        <mat-card appearance="outlined" class="card-sl">
            <mat-card-header>
                <mat-card-subtitle>Welcome!!!</mat-card-subtitle>
                <mat-card-title class="text-uppercase">{{userData.name}}</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card appearance="outlined" class="card-sl card-button" (click)="displayComponent('course')">
            <mat-card-header>
                <mat-card-subtitle>Courses</mat-card-subtitle>
                <mat-card-title class="text-uppercase">{{courseData.length}}</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card appearance="outlined" class="card-sl card-button" (click)="displayComponent('faculty')">
            <mat-card-header>
                <mat-card-subtitle>Faculties</mat-card-subtitle>
                <mat-card-title class="text-uppercase">{{facultyData.length}}</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card appearance="outlined" class="card-sl card-button" (click)="displayComponent('student')">
            <mat-card-header>
                <mat-card-subtitle>Students</mat-card-subtitle>
                <mat-card-title class="text-uppercase">{{studentData.length}}</mat-card-title>
            </mat-card-header>
        </mat-card>
    </div>
</div>

<div>
    <app-admin-detailed-report *ngIf="activeComponent === 'course'"></app-admin-detailed-report>
    <app-all-faculty *ngIf="activeComponent === 'faculty'"></app-all-faculty>
    <app-all-student *ngIf="activeComponent === 'student'"></app-all-student>
</div>

<div class="container d-flex justify-content-center flex-wrap">
    <h1 class="heading">
        Select Your Preffered <span class="highlight">Chart Type</span> To View Data
      </h1>
    <div class="example-flex-container d-flex flex-wrap">
        <div class="example-button-container mx-3 my-3" (click)="chartTypeToggle('bar')">
            <button mat-fab class="text-light" style="width: auto; padding: 0.5rem 1rem; font-weight: 700;">
                Bar
            </button>
        </div>
        <div class="example-button-container mx-3 my-3" (click)="chartTypeToggle('line')">
            <button mat-fab class="text-light" style="width: auto; padding: 0.5rem 1rem; font-weight: 700;">
                Line
            </button>
        </div>
        <div class="example-button-container mx-3 my-3" (click)="chartTypeToggle('pie')">
            <button mat-fab class="text-light" style="width: auto; padding: 0.5rem 1rem; font-weight: 700;">
                Pie
            </button>
        </div>
        <div class="example-button-container mx-3 my-3" (click)="chartTypeToggle('polarArea')">
            <button mat-fab class="text-light" style="width: auto; padding: 0.5rem 1rem; font-weight: 700;">
                PolarArea
            </button>
        </div>
    </div>
</div>
<div class="chart d-flex justify-content-center row mb-3">
    <app-chart *ngIf="chartType" [chartLabel]="chartLabel" [chartData]="chartData" [chartType]="chartType" />
</div>