.section {
  padding: 2rem 0 5rem 0;
}

app-chart{
  width:80% !important;
  height:auto !important;

}
.heading {
  font-size: 1.8rem;
  margin-bottom: 0px !important;
  /* text-align: center; */
}

.highlight {
  color: #4dc591;
  font-weight: 700;
}

mat-card-title {
  margin-top: 0.5rem;
  font-weight: 700;
  color: #4dc591;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

mat-card-header {
  margin: 1rem 1rem 2rem 1rem;
}

.card-sl {
  border: 0px;
  border-radius: 8px;
  margin-right: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 10px 0 rgba(32, 32, 32, 0.1),
    0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.card-button {
  cursor: pointer;
  transition: all 0.4s ease;
}

.card-button:hover {
  color: white;
  background-color: #4dc591;
}

.card-button:hover mat-card-subtitle,
.card-button:hover mat-card-title {
  color: white !important;
}

mat-card-subtitle,
mat-card-title {
  transition: color 0.4s ease;
}

@media screen and (max-width: 600px) {
  .section {
    padding: 2rem;
  }
}

.mat-mdc-fab{
  background-color: #4dc591 !important;
}
