.section{
    padding: 0rem 0 5rem 0;
}

.mat-mdc-fab{
    background-color: #4dc591 !important;
}

.mat-mdc-fab-base{
    width: 45px;
    height: 45px;
}

mat-icon{
    color: white;
}

@media screen and (max-width:500px) {
    .section{
        padding: 0rem 1.5rem;
        margin-bottom: 4rem;
    }

}
