<div class="container d-flex align-items-start justify-content-between flex-row section">
    <h1 class="heading">
        <span class="highlight text-uppercase">Detailed Report</span>
    </h1>
    <button data-bs-toggle="modal" data-bs-target="#exampleModal" mat-fab class="text-light" style="width: auto; padding: 0.5rem 1rem; font-weight: 700;">
            <mat-icon>add</mat-icon>
            &nbsp;
            Add Faculty
      </button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header mb-3 d-flex col justify-content-between">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Faculty</h1>
                <mat-icon class="close" data-bs-dismiss="modal" aria-label="Close">close</mat-icon>
            </div>
            <div class="modal-body">
                <app-sign-up-form [role]="role" />
            </div>
        </div>
    </div>
</div>

  
  <section>
    <article class="gallery-table">
        <table>
            <thead>
                <tr>
                    <th class="text-center p-3">S.No.</th>
                    <th class="text-center p-3">Faculty Name</th>
                    <th class="text-center p-3">Faculty Email</th>
                    <th class="text-center p-3">Total Course</th>
                    <th class="text-center p-3">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let faculty of facultyData; index as i">
                    <td class="text-center align-middle p-3">{{i+1}}</td>
                    <td class="text-center align-middle p-3">{{faculty.name}}</td>
                    <td class="text-center align-middle p-3">{{faculty.email}}</td>
                    <td *ngIf="faculty.course" class="text-center align-middle p-3">{{faculty.course.length}}</td>
                    <td *ngIf="!faculty.course" class="text-center align-middle p-3">0</td>
                    <td class="text-center align-middle p-3">
                        <button style="margin: 0 8px;" mat-fab>
                            <mat-icon data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="deleteUserById(faculty.id)">delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </article>
  </section>


<div class="modal" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure want to delete this user?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="deleteUser()" >Delete User</button>
        </div>
      </div>
    </div>
  </div>