
.section{
    flex-wrap: wrap;
    padding: 0 2rem;
}

.heading {
    font-size: 1.8rem;
    margin-bottom: 20px;
    /* text-align: center; */
  }

  .highlight {
    color: #4dc591;
    font-weight: 700;
}

.gallery-table {
    display: flex;
    justify-content: center;
    padding: 0 5rem 5rem 5rem;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
thead {
    background-color: #4dc591;
    color: white;
}
tbody tr:hover {
    background-color: #4dc59117;
    transition: background-color 0.3s ease;
}
.pagination{
    padding: 0 5rem 5rem 5rem;
}

.pagination span{
    margin: 0 2rem;
    width: 100px;
    text-align: center;
}

.custom-btn{
    color: #4dc591;
    border-color: #4dc591;
}

.custom-btn:hover{
    background-color: #4dc591;
    color: #fff;
}

@media (max-width: 768px) {
    table {
        display: flex;
        justify-content: center;
        overflow-x: auto;
        background-color:#4dc59100;
        box-shadow: none;
        border-radius: 0;
    }

    thead {
        display: none;
    }

    tbody{
        width: 100%;
    }

    tbody tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        border-bottom: 1px solid #ddd;
        padding: 1rem;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    tbody td {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;
        border-bottom: 1px solid #ddd;
    }

    tbody td:last-child {
        border-bottom: none;
    }

    tbody td::before {
        content: attr(data-label);
        font-weight: bold;
        color: #4dc591;
        margin-right: 10px;
    }

    tbody td[data-label="Actions"] {
        display: flex;
        justify-content: flex-start;
    }
}

.mat-mdc-fab{
    background-color: #4dc591 !important;
}

.mat-mdc-fab-base{
    width: 45px;
    height: 45px;
}

mat-icon{
    color: white;
}

.close{
    cursor: pointer;
    color: black !important;
  }

  @media screen and (max-width: 600px) {
    .gallery-table{
        padding: 2rem;
    }
  }

  .deactivated-row{
    color: red;
  }