<div class="fixed-top">
    <app-navbar/>
</div>
<div style="margin-top: 6rem;">
    <app-overview/>
    <div class="container d-flex align-items-start justify-content-between flex-column section">
        <button data-bs-toggle="modal" data-bs-target="#deleteModal" mat-fab class="text-light" style="width: auto; padding: 0.5rem 1rem; font-weight: 700;">
            <mat-icon>delete</mat-icon>
            &nbsp;
            Deactivate Your Account
      </button>
    </div>
      <div class="modal" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete User</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Are you sure want to delete your account permanently?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="deleteUser()" >Delete User</button>
            </div>
          </div>
        </div>
      </div>
    
    <app-faculty-detailed-report/>
</div>
<app-footer/>