<div class="fixed-top">
    <app-navbar/>
</div>
<div class="course">
    <div class="container d-flex align-items-center justify-content-between flex-column section">
        <h1 class="heading">
            Unlock Your<span class="highlight"> Coding</span> Potential
        </h1>
        <mat-form-field class="example-form-field">
            <mat-label [ngClass]="{'focused-input': isFocused}" 
            (focus)="isFocused = true" >Search Your Course...</mat-label>
            <input 
              matInput 
              (keyup)="onSearch(searchValue)"
              type="text" 
              [(ngModel)]="searchValue" 
              [ngClass]="{'focused-input': isFocused}" 
              (focus)="isFocused = true"  
              (blur)="isFocused = false">
            <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          
    </div>    
    <app-course [searchText]="searchValue" />
</div>
<app-footer/>