/* You can add global styles to this file, and also import other style files */
/* @import '@angular/material/prebuilt-themes/purple-green.css';
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */
/* @import '@angular/material/prebuilt-themes/azure-blue.css'; */

/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    /* font-family: "Montserrat", serif !important; */
    line-height: 1.6;
    /* font-family: "Inter", serif !important; */
}

body{
background: linear-gradient(60deg, rgba(203,255,232,1) 0%, rgb(255, 237, 248) 50%, rgba(221,255,240,1) 100%);
}
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
