<div class="fixed-top">
    <app-navbar/>
</div>

<section class="faq-page" >
    <div class="container d-flex align-items-center justify-content-between flex-column section">
        <h1 class="heading">
            Frequently Asked Questions
        </h1>
    </div>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            How do I enroll in a course?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            To enroll in a course, simply create an account, browse our course catalog, and click the "Purchase" button on the course page. Follow the prompts to complete your registration.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            What payment methods are accepted?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            We accept various payment methods including credit/debit cards, PayPal, and bank transfers. You can select your preferred payment option during the checkout process.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Can I access course materials offline?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            Yes, many of our courses offer downloadable materials that you can access offline. Check the course details to see if this feature is available.
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
            How do I get a certificate after completing a course?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Upon successfully completing a course, you will receive a digital certificate. You can download it from your account dashboard or have it emailed to you.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
            What if I need help or have questions during the course?
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            If you need assistance, you can reach out to our support team via the "Help" section on our website. Additionally, many courses have discussion forums where you can ask questions and interact with instructors and peers.
          </div>
        </div>
      </div>
  </div>
</section>

  <app-footer/>